@page "/about"

<h3>About iControl</h3>

<p>
    Website: <a href="https://iControl.one">https://iControl.one</a>
</p>
<p>
    Contact:  <a href="https://iControl.one/Contact">https://iControl.one/Contact</a>
</p>
<p>
    Open-Source Licenses: <a href="/credits">Credits</a>
</p>
<p>
    Version: @if (System.IO.File.Exists("iControl_Server.dll"))
    {
        <span>@System.Diagnostics.FileVersionInfo.GetVersionInfo("iControl_Server.dll").FileVersion.ToString()</span>
    }
    else
    {
        <span>1.0.0.0</span>
    }

</p>
